.contacto {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px;
  }
  .contacto input, .contacto textarea {
    margin-bottom: 10px;
    padding: 10px;
    width: 300px;
  }